<button  mat-raised-button color="accent"(click)=reg() routerLink="/owner/hotelRegister">New Hotel Register</button>
<button  mat-raised-button color="accent" (click)="viewHotels()" >View My Hotels</button>


<div *ngIf="showData">
<table>
    <tr>
        <th *ngFor="let headings of headers">{{headings}}</th>
    </tr>
    <tr *ngFor="let hotelData of hotelsByOwner">
        <td>{{hotelData.ownerName}}</td>
        <td>{{hotelData.mob}}</td>
        <td>{{hotelData.hotelName}}</td>
        <td>{{hotelData.hotelAddress}}</td>
        <td>{{hotelData.hotelMob}}</td>
        <td>{{hotelData.hotelMenu}}</td>
        <td><mat-icon (click)="edit(hotelData.id)">edit</mat-icon></td>
        <td><mat-icon (click)="delete(hotelData.id)">delete</mat-icon></td>
    </tr>
</table>
</div>