
<button mat-raised-button color="accent" (click)="viewHotels()">View Hotel List</button>

<div *ngIf="showData">
    <!-- <table>
        <tr>
            <th *ngFor="let headings of headers">{{headings}}</th>
        </tr>
        <tr *ngFor="let hotelData of hotelData">
            <td>{{hotelData.ownerName}}</td>
        <td>{{hotelData.mob}}</td>
        <td>{{hotelData.hotelName}}</td>
        <td>{{hotelData.hotelAddress}}</td>
        <td>{{hotelData.hotelMob}}</td>
        <td>{{hotelData.hotelMenu}}</td>
        <td><button (click)="bookNow()">Book Now</button></td>
        </tr>
    </table> -->
<!-- 
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Medium</mat-card-subtitle>
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card> -->
</div>